<!--Set up the modals required on the page-->
<a href="#" data-reveal-id="myModal">
    <img src="images/Sandii_carrying_Erin_EF_2015.jpg" radius="500px x 500px" />

    <row small-12 columns>
        <div class="small-4 columns"></div>
        <div class="small-4 columns"></div>
        <div class="small-4 columns"></div>
    </row>
</a>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Modal's for days</h2>
    <p class="lead">My couch. It is mine.</p>
    <div>First name:
        <input type="text" ng-model="userFirstName" />
    </div>
    <div>Last name:
        <input type="text" ng-model="userLastName" />
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--end modal-->

<!--            todo:replace placeholder pictures with graphics, panels, etc-->
<row>
    <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
        <li>
            <a href="#/friendship">
                <img src="images/Sandii_carrying_Erin_EF_2015.jpg">
            </a>
        </li>
        <li>
            <a href="#/illuminarium">
                <img src="images/Illuminarium_EF_2015.jpg" class="th">
            </a>
        </li>
        <li>
            <a href="#/respect">
                <img src="images/the_gang.jpg" class="th">
            </a>
        </li>
        <li>
            <a href="#/tarot">
                <img src="images/wheel_of_doors_EF_2015.jpg" class="th">
            </a>
        </li>
        <li>
            <a href="#/hippieShowers">
                <img src="images/hippie_beah_EF_2015.jpg" class="th">
            </a>
        </li>
        <li>
            <a href="#/usedToBeSoHipster">
                <img src="images/Library_EF_2015.jpg" class="th" />
            </a>
        </li>
    </ul>
</row>